<style type="text/css">
    #lxfs i {
        color: red;
    }
    #about-partner img{
        margin: 10px 0;
    }
    #about-partner{
    	text-align: center;
    }
    
</style>

<div id="carousel-example-generic" class="pages_about carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src= "/about-bg.png"  alt="Carousel 1">
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h2>公司简介</h2>
                <p>普尔支付·钱方</p>
                <p>普尔支付·钱方是由普尔支付与钱方共同发起的互联网支付新平台，是专注于移动支付，互联网支付及增值运营的全新服务型平台。</p>
                <p>钱方具有多年移动及互联网支付的开发经验和技术积累，与银联，腾讯，支付宝等业内知名企业有着多年密切合作，确保商户交易资金安全，准确，准时到账。在业内具有非常良好的声誉。</p>
                <p>普尔支付多年深耕本地化商务拓展及服务，熟谙各行业具体支付需求。针对目前互联网+的发展需求，在提升支付品质，开发第三方支付平台、移动支付、O2O运营、增值运营、电子商务等方面，为个行业企业和消费者提供专业高效的支付解决方案。</p>
                <div id="accordion" class="panel-group m-b-0">
                    <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#accordion-1">>>></a>
                    <div style="height: 0px;" aria-expanded="false" id="accordion-1" class="panel-collapse collapse">
                        <p>目前普尔支付·钱方平台已拥有超过5000家商户，遍布十几个行业，得到了客户的一致好评。本着平等、参与、分享的企业理念，为了能向更多的客户提供优质的支付服务，我们正积极的开拓市场！现面向全国诚征代理商及分销商。成为普尔支付·钱方的签约代理商及经销商，将享受普尔支付·钱方平台的多项产品服务和系统支持，能以低成本迅速切入市场。个人、企业均可申请！</p>
                    </div>
                </div>
            </div>
            <div id="about-hr" class="col-md-2">
                <hr style="border:1px solid #AEAEAE;width:0px;height:300px;"></hr> 
            </div>
            <div id="lxfs" class="col-md-4">
                <h2>联系方式</h2>
                <h3>
                    <i class="icon-call-end" ></i>
                    <small>电话: 400-1033-755</small>
                </h3>
                <h3>
                    <i class="icon-pointer" ></i>
                    <small>电话: 400-1033-755</small>
                </h3>
                <h3>
                    <i class="icon-envelope" ></i>
                    <small>电话: 400-1033-755</small>
                </h3>
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <img src="/about-ewm-1.png">
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <img src="/about-ewm-2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="work">
        <div class="image"><img src="/about-map.png"></div>
    </div>
</div>
<div class="content">
    <div class="container" style="text-align:center;">
        <div class="row">
            <div class="col-md-5">
                <hr style="border-color: #AEAEAE;"></hr>
            </div>
            <div class="col-md-2">
                <h1>运行中心</h1>
            </div>
            <div class="col-md-5">
                <hr style="border-color: #AEAEAE;"></hr>
            </div>
        </div>

        <div class="row about-yyzx">
            <div class="col-xs-5" style="text-align:right">
                <div class="one">
                    <h2>中山市金辉企业管理有限责任公司</h2>
                    <p>地址:jjabscbfakscascakjs c</p>
                    <p>电话:12345</p>
                </div>
                <div class="two">
                    <h2>中山市金辉企业管理有限责任公司</h2>
                    <p>地址:jjabscbfakscascakjs c</p>
                    <p>电话:12345</p>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="work">
                    <div class="image">
                        <img src="Qpos-about-1.png">
                    </div>
                </div>
            </div>
            <div class="col-xs-5" style="text-align:left">
                <div class="three">
                    <h2>中山市金辉企业管理有限责任公司</h2>
                    <p>地址:jjabscbfakscascakjs c</p>
                    <p>电话:12345</p>
                </div>
                <div class="four">
                    <h2>中山市金辉企业管理有限责任公司</h2>
                    <p>地址:jjabscbfakscascakjs c</p>
                    <p>电话:12345</p>
                </div>
            </div>
        </div>
        

    </div>
</div>
<div class="content" id="about-partner">
    <div class="container" style="text-align:center;">
        <div class="row">
            <div class="col-md-5">
                <hr style="border-color: #AEAEAE;"></hr>
            </div>
            <div class="col-md-2">
                <h1>合作伙伴</h1>
            </div>
            <div class="col-md-5">
                <hr style="border-color: #AEAEAE;"></hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="about-logo-weixin.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-apay.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-ys.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-qf.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-aps.png">
        </div>
        
    </div>
    <div class="row m-t-40">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="about-logo-wool.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-hj.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-szsm.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-yz.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-lkl.png">
        </div>
    </div>
    <div class="row m-t-40">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="about-logo-bd.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-sws.png">
        </div>
    </div>
</div>
<div style="height:163px;"></div>