<style type="text/css">
	.carousel-caption{
		padding-bottom: 17%;
	}
</style>


<div id="carousel-example-generic" class="pages_home carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	<div id="page_item" class="carousel-inner">
		<div id="item_one" class="item active">
			<img src= "home-pos.png"  alt="Carousel 1">
			<div class="carousel-caption">
				<h2 class="m-b-5">移动互联网时代</h2>
				<big>人人都有自己的支付解决方案</big>
			</div>
		</div>
		<div id="item_two" class="item">
			<img src= "home-pos.png"  alt="Carousel 2">
			<div class="carousel-caption">
				<h2 class="m-b-5">QPOS 3.0</h2>
				<big>全球首台蓝牙无线智能POS机
				</big>
			</div>
		</div>
		<div id="item_three" class="item">
			<img src= "home-pos.png"  alt="Carousel 3">
			<div class="carousel-caption">
				<h2 class="m-b-5">平等、参与、分享</h2>
				<big>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</big>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<i class="fa fa-chevron-left"></i>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<i class="fa fa-chevron-right"></i>
	</a>
</div>
<div class="content" data-scrollview="true">
	<!-- begin container -->
	<div class="container" data-animation="true" data-animation-type="fadeInDown">
		<h2 class="content-title">QPOS，小微商户的收款神器</h2>
		<div class="row p-t-30">
			<!-- begin col-3 -->
			<div class="col-md-3 col-sm-12">
				<div class="service service-vertical">
					<div class="img">
						<img src= "pos-05-01.jpg" >
					</div>
					<br></br>
					<div class="info">
						<h3 class="title">便捷</h3>
						<p class="desc">全球首个支持3种通讯的密码刷卡器
							（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-12">
					<div class="service service-vertical">
						<div class="img">
							<img src="pos-01-01.jpg" >
						</div>
						<br></br>
						<div class="info">
							<h3 class="title">优惠费率，快速到帐</h3>
							<p>T+0   优惠费率 0.7%</p>
							<p>T+1   优惠费率 0.49%</p>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-12">
				<div class="service service-vertical">
					<div class="img">
						<img src= "pos-07-01.jpg" >
					</div>
					<br></br>
					<div class="info">
						<h3 class="title">多个子帐号统一管理</h3>
						<p class="desc">同一账号可下设多个子账号，实现多人分别收款，统一管理。为小微商户量身打造。</p>
					</div>
				</div>
			</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-12">
					<div class="service service-vertical">
						<div class="img">
							<img src= "pos-03-01.jpg">
						</div>
						<br></br>
						<div class="info">
							<h3 class="title">安全</h3>
							<p class="desc">国内唯一通过了Atsec合规性评估
								通过中国人民银行PBOC1.0、PBOC2.0认证
								银行卡检测中心认证
								拆机自毁</p>
							</div>
						</div>
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
	</div>
</div>
<div  data-scrollview="true" class="content bg-info" >
	<div class="container">
		<h2 class="content-title">商家展示</h2>
		<!-- begin row -->
		<div class="row">
			<!-- begin col-4 -->
			<div class="col-md-4 col-sm-4">
				<!-- begin team -->
				<div class="team">             
					<div class="image" data-animation="true" data-animation-type="flipInX">
						<img src="/color_front/assets/img/user-1.jpg" alt="Ryan Teller" />
					</div>
					<div class="info">
						<h3 class="name">普尔翰达中山运营公司</h3>
						<p>普尔支付·钱方是由普尔支付与钱方共同发起的互联网支付新平台，是专注于移动支付，互联网支付及增值运营的全新服务型平台。 </p>
					</div>                     
				</div>
				<!-- end team -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-md-4 col-sm-4">
				<!-- begin team -->
				<div class="team">             
					<div class="image" data-animation="true" data-animation-type="flipInX">
						<img src="/color_front/assets/img/user-2.jpg" alt="Jonny Cash" />
					</div>
					<div class="info">
						<h3 class="name">普尔翰达中山运营公司</h3>
						<p>普尔支付·钱方是由普尔支付与钱方共同发起的互联网支付新平台，是专注于移动支付，互联网支付及增值运营的全新服务型平台。 </p>
					</div>                     
				</div>
				<!-- end team -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-md-4 col-sm-4">
				<!-- begin team -->
				<div class="team">             
					<div class="image" data-animation="true" data-animation-type="flipInX">
						<img src="/color_front/assets/img/user-3.jpg" alt="Mia Donovan" />
					</div>
					<div class="info">
						<h3 class="name">普尔翰达中山运营公司</h3>
						<p>普尔支付·钱方是由普尔支付与钱方共同发起的互联网支付新平台，是专注于移动支付，互联网支付及增值运营的全新服务型平台。 </p>
					</div>                     
				</div>
				<!-- end team -->
			</div>
			<!-- end col-4 -->
		</div>
		<!-- end row -->
	</div>
</div>
<div id="information" class="content" >
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3 col-sm-12">
			<!-- begin about -->
			<div class="about">
				<h2>公司简介</h2>
				<p>普尔支付·钱方</p>
				<p>普尔支付·钱方是由普尔支付与钱方共同发起的互联网支付新平台，是专注于移动支付，互联网支付及增值运营的全新服务型平台。</p>
				<p>钱方具有多年移动及互联网支付的开发经验和技术积累，与银联，腾讯，支付宝等业内知名企业有着多年密切合作，确保商户交易资金安全，准确，准时到账。在业内具有非常良好的声誉。</p>
				<p>普尔支付多年深耕本地化商务拓展及服务，熟谙各行业具体支付需求。针对目前互联网+的发展需求，在提升支付品质，开发第三方支付平台、移动支付、O2O运营、增值运营、电子商务等方面，为个行业企业和消费者提供专业高效的支付解决方案。</p>
				<p>目前普尔支付·钱方平台已拥有超过5000家商户，遍布十几个行业，得到了客户的一致好评。本着平等、参与、分享的企业理念，为了能向更多的客户提供优质的支付服务，我们正积极的开拓市场！现面向全国诚征代理商及分销商。成为普尔支付·钱方的签约代理商及经销商，将享受普尔支付·钱方平台的多项产品服务和系统支持，能以低成本迅速切入市场。个人、企业均可申请！</p>
			</div>
			<!-- end about -->
		</div>
		<div class="col-md-3 col-sm-12">
			<!-- begin about -->
			<div class="about">
				<h2>资讯</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Vestibulum posuere augue eget ante porttitor fringilla. 
					Aliquam laoreet, sem eu dapibus congue, velit justo ullamcorper urna, 
					non rutrum dolor risus non sapien. Vivamus vel tincidunt quam. 
					Donec ultrices nisl ipsum, sed elementum ex dictum nec. 
				</p>
				<p>
					In non libero at orci rutrum viverra at ac felis. 
					Curabitur a efficitur libero, eu finibus quam. 
					Pellentesque pretium ante vitae est molestie, ut faucibus tortor commodo. 
					Donec gravida, eros ac pretium cursus, est erat dapibus quam, 
					sit amet dapibus nisl magna sit amet orci. 
				</p>
			</div>
			<!-- end about -->
		</div>
		<div class="col-md-3 col-sm-12">
			<!-- begin about -->
			<div class="about">
				<h2>合作伙伴</h2>
				<ul id="logo_ul">
					<li><img src="pos-1-1-0-0.png" ></li>
					<li><img src= "pos-1-1-2-0.png" ></li>
					<li><img src= "pos-1-1-4-0.png" ></li>
					<li><img src= "pos-1-1-0-2.png" ></li>
					<li><img src= "pos-1-1-2-2.png" ></li>
				</ul>
				<br></br>
			</div>
			<!-- end about -->
		</div>
	</div>
</div>