<style type="text/css">
	.carousel-caption{
		top: 70%;
	}
	#about-partner img{
        margin: 10px 0;
    }
    #about-partner{
    	text-align: center;
    }
    .home-date{
		text-align: center;
	}
	h3{
		margin: 0;
		padding: 0;
	}
	.feature h4{
		font-weight: 800;
		margin: 15px 0;
	}
	.feature-content img{
		border-radius: 63px;
	}
	.info:hover .title{
		color: red;
	}
	#about-partner img{
		filter: grayscale(100%);
	}
	#about-partner img:hover{
		filter: grayscale(0%);
	}
	.home-press .row:hover{
		color: red;
	}
	.home-press .row:hover h3{
		color: red;
	}
</style>

hello
<div id="carousel-example-generic" class="pages_home carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
	</ol>
	<div id="page_item" class="carousel-inner">
		<div id="item_one" class="item active">
			<img src= "home-pos.png">
			<div class="carousel-caption" style="text-align:right;top:55%;right:30%">
				<h2 style="font-size:51px;color:#ff5555;" class="m-b-5">QPOS</h2>
				<p style="font-size:36px;">小薇商户收款神器</p>
				<button class="btn btn-outline" style="border-radius:10px;font-size:15px;padding:1% 6%;margin-top:2%;">立即申请</button>
			</div>
		</div>

		<div id="item_two" class="item">
			<img src= "home-pos.png">
			<div class="carousel-caption" style="text-align:right;top:55%;right:30%">
				<h2 style="font-size:51px;color:#ff5555;" class="m-b-5">QPOS</h2>
				<p style="font-size:36px;">小薇商户收款神器</p>
				<button class="btn btn-outline" style="border-radius:10px;font-size:15px;padding:1% 6%;margin-top:2%;">立即申请</button>
			</div>
		</div>
	</div>
	<a class="left carousel-control" id="left_imgbtn" href="#carousel-example-generic" role="button" data-slide="prev">
		<i class="fa fa-chevron-left"></i>
	</a>
	<a class="right carousel-control" id="right_imgbtn" href="#carousel-example-generic" role="button" data-slide="next">
		<i class="fa fa-chevron-right"></i>
	</a>
</div>


<div class="content" data-scrollview="true">
	<div class="container" data-animation="true" data-animation-type="fadeInDown">
		<div class="row p-t-30" id="redbanner">
			<div class="col-md-4" data-target="#carousel-example-generic-copy" data-slide-to="0">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/Qpos-home-1.png" >
						</div>
					</div>
					<div class="col-md-8">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
					</div>
				</div>
			<div class="col-md-4" data-target="#carousel-example-generic-copy" data-slide-to="1">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/Qpos-home-2.png" >
						</div>
					</div>
					<div class="col-md-8">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
					</div>
				</div>
			<div class="col-md-4" data-target="#carousel-example-generic-copy" data-slide-to="2">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/Qpos-home-3.png" >
						</div>
					</div>
					<div class="col-md-8">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
					</div>
				</div>
		</div>
	</div>
	<div id="carousel-example-generic-copy" class="carousel slide" data-ride="carousel">
		<div id="page_item" class="carousel-inner carousel-copy">
			<div id="item_one" class="item active">
				<div style="color:red;margin-left:25%;"><i class="fa fa-3x fa-caret-up"></i></div>
				<img src= "/Qpos-home-8-1.jpg"  alt="Carousel 1">


			</div>
			<div id="item_two" class="item">
				<div style="color:red;margin-left:53%;"><i class="fa fa-3x fa-caret-up"></i></div>
				<img src= "/Qpos-home-8-2.jpg"  alt="Carousel 2">
			</div>
			<div id="item_three" class="item">
				<div style="color:red;margin-left:83%;"><i class="fa fa-3x fa-caret-up"></i></div>
				<img src= "/Qpos-home-8-3.jpg"  alt="Carousel 3">
			</div>
			<div id="item_four" class="item">
				<img src= "/Qpos-home-8-4.jpg"  alt="Carousel 3">
				<div style="color:red;margin-left:25%;"><i class="fa fa-3x fa-caret-down"></i></div>
			</div>
			<div id="item_five" class="item">
				<img src= "/Qpos-home-8-5.jpg"  alt="Carousel 3">
				<div style="color:red;margin-left:53%;"><i class="fa fa-3x fa-caret-down"></i></div>
			</div>
			<div id="item_six" class="item">
				<img src= "/Qpos-home-8-6.jpg"  alt="Carousel 3">
				<div style="color:red;margin-left:83%;"><i class="fa fa-3x fa-caret-down"></i></div>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-example-generic-copy" role="button" data-slide="prev">
			<i class="fa fa-3x fa-chevron-left"></i>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic-copy" role="button" data-slide="next">
			<i class="fa fa-3x fa-chevron-right"></i>
		</a>
	</div>
	<div class="container" data-animation="true" data-animation-type="fadeInDown">
		<div class="row p-t-30">
			<div class="col-md-4" data-target="#carousel-example-generic-copy" data-slide-to="3">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/Qpos-home-4.png" >
						</div>
					</div>
					<div class="col-md-8">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
					</div>
				</div>
			<div class="col-md-4" data-target="#carousel-example-generic-copy" data-slide-to="4">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/Qpos-home-5.png" >
						</div>
					</div>
					<div class="col-md-8">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
					</div>
				</div>
			<div class="col-md-4" data-target="#carousel-example-generic-copy" data-slide-to="5">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/Qpos-home-6.png" >
						</div>
					</div>
					<div class="col-md-8">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
						</div>
					</div>
					</div>
				</div>
		</div>
	</div>
</div>


<div id="carousel-example-generic" class="carousel slide feature" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "/home-feature.png"  alt="Carousel 1">
			<div class="carousel-caption" style="left:15%;right:15%;top:10%;">
				<div class="row feature-title">
					<div class="col-md-4">
						<hr style="border-color: #FFF;"></hr>
					</div>
					<div class="col-md-4">
						<h3 style="line-height:1.6;font-weight:800;">QPOS，小薇商户收款神器</h3>
					</div>
					<div class="col-md-4">
						<hr style="border-color: #FFF;"></hr>
					</div>
					<br>
					<br>
				</div>
				<div class="row work feature-content">
					<div class="col-xs-3 image">
						<img src="qpos-home-9.png">
						<h4>先进的移动收款神器</h4>
						<p>中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机</p>
					</div>
					<div class="col-xs-3 image">
						<img src="qpos-home-10.png">
						<h4>先进的移动收款神器</h4>
						<p>中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机</p>
					</div>
					<div class="col-xs-3 image">
						<img src="qpos-home-11.png">
						<h4>先进的移动收款神器</h4>
						<p>中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机</p>
					</div>
					<div class="col-xs-3 image">
						<img src="qpos-home-12.png">
						<h4>先进的移动收款神器</h4>
						<p>中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机中国最早的智能手机pos机</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="information" class="content" >
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<!-- begin about -->
				<div class="about">
					<h2>公司简介
						<small style="text-align:right;"><a href="/about">>> 查看更多</a></small>
					</h2>
					<p>普尔支付·钱方</p>
					<p>普尔支付·钱方是由普尔支付与钱方共同发起的互联网支付新平台，是专注于移动支付，互联网支付及增值运营的全新服务型平台。</p>
					<p>钱方具有多年移动及互联网支付的开发经验和技术积累，与银联，腾讯，支付宝等业内知名企业有着多年密切合作，确保商户交易资金安全，准确，准时到账。在业内具有非常良好的声誉。</p>
					<p>普尔支付多年深耕本地化商务拓展及服务，熟谙各行业具体支付需求。针对目前互联网+的发展需求，在提升支付品质，开发第三方支付平台、移动支付、O2O运营、增值运营、电子商务等方面，为个行业企业和消费者提供专业高效的支付解决方案。</p>
					<p>目前普尔支付·钱方平台已拥有超过5000家商户，遍布十几个行业，得到了客户的一致好评。本着平等、参与、分享的企业理念，为了能向更多的客户提供优质的支付服务，我们正积极的开拓市场！现面向全国诚征代理商及分销商。成为普尔支付·钱方的签约代理商及经销商，将享受普尔支付·钱方平台的多项产品服务和系统支持，能以低成本迅速切入市场。个人、企业均可申请！</p>
				</div>
				<!-- end about -->
			</div>
			<div class="col-md-6">
				<!-- begin about -->
				<div class="home-press">
					<h2>资讯
						<small style="text-align:right;"><a href="/press">>> 查看更多</a></small>
					</h2>
					<div class="row">
						<div class="col-xs-2 home-date">
							<h3>22</h3>
							<p>2015.01</p>
						</div>
						<div class="col-xs-1">
							<hr style="border:1px solid #AEAEAE;width:0px;height:36px;margin:6px 0;"></hr>
						</div>
						<div class="col-xs-9">
							<a href="/press"><h3 style="line-height:1.8;">kjsabnjfcabsjdvcbnalkds</h3></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 home-date">
							<h3>22</h3>
							<p>2015.01</p>
						</div>
						<div class="col-xs-1">
							<hr style="border:1px solid #AEAEAE;width:0px;height:36px;margin:6px 0;"></hr>
						</div>
						<div class="col-xs-9">
							<a href="/press"><h3 style="line-height:1.8;">kjsabnjfcabsjdvcbnalkds</h3></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 home-date">
							<h3>22</h3>
							<p>2015.01</p>
						</div>
						<div class="col-xs-1">
							<hr style="border:1px solid #AEAEAE;width:0px;height:36px;margin:6px 0;"></hr>
						</div>
						<div class="col-xs-9">
							<a href="/press"><h3 style="line-height:1.8;">kjsabnjfcabsjdvcbnalkds</h3></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 home-date">
							<h3>22</h3>
							<p>2015.01</p>
						</div>
						<div class="col-xs-1">
							<hr style="border:1px solid #AEAEAE;width:0px;height:36px;margin:6px 0;"></hr>
						</div>
						<div class="col-xs-9">
							<a href="/press"><h3 style="line-height:1.8;">kjsabnjfcabsjdvcbnalkds</h3></a>
						</div>
					</div>
				</div>
				<!-- end about -->
			</div>
		</div>
	</div>
	</div>
</div>


<div class="content" id="about-partner">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <hr style="border-color: #AEAEAE;"></hr>
            </div>
            <div class="col-md-2">
                <h1>合作伙伴</h1>
            </div>
            <div class="col-md-5">
                <hr style="border-color: #AEAEAE;"></hr>
            </div>
        </div>
    </div>
    <div class="row m-t-40" style="margin:0;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="about-logo-weixin.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-apay.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-ys.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-qf.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-aps.png">
        </div>
    </div>
    <div class="row m-t-40" style="margin:0;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="about-logo-wool.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-hj.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-szsm.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-yz.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-lkl.png">
        </div>
    </div>
    <div class="row m-t-40" style="margin:0;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="about-logo-bd.png">
        </div>
        <div class="col-md-2">
            <img src="about-logo-sws.png">
        </div>
    </div>
</div>
