<style type="text/css">
	#home .home-content{
		text-align: left;
	}
	#milestone .home-content{
		padding-left: 50%;
	}
	#quote .home-content{
		text-align: left;
	}
	#action-box .home-content{
		text-align: left;
		padding-left: 50%;
	}
	#client .home-content{
		padding-right: 50%;
	}
	#market .home-content{
		text-align: left;
		padding-left: 50%;
	}
	.downicon{
		z-index: 1020;
		position: absolute;
		top: 90%;
		left: 0;
		right: 0;
		color: #8F8E8E;
		text-align: center;
	}
	a{
		color: #FFF;
	}
	.btn-outline{
		border-radius: 10px;
	}
	.home-content h1{
		font-size: 46px;
	}
	p{
		color: #FFF;
	}
	.btn-outline{
		border-color: #FFF !important;
	}
</style>

		<!-- begin #header -->
		<!-- end #header -->
		
		<!-- begin #home -->
		<div id="home" class="content has-bg home pages_partner">
			<!-- begin content-bg -->
			<div class="content-bg">
				<img src="/qpos-partner-1.png" alt="Home" />
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content">
				<h1>无限的前景</h1>
				<p>
					We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
					Use our <a href="#">theme panel</a> to select your favorite theme color.
				</p>
				<a href="#partner-form" class="btn btn-outline" data-click="scroll-to-target">Purchase Now</a>
			</div>
			<h1 class="downicon">
				<a href="#milestone" data-click="scroll-to-target"><i class="icon-arrow-down"></i></a>
			</h1>
			<!-- end container -->
		</div>
		
		<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg">
				<img src="/qpos-partner-2.png" alt="Milestone" />
			</div>
			<div class="container home-content">
				<h1>产品和服务</h1>
				<div class="work">
					<div class="image">
						<img src="Qpos-partner-1.png">
					</div>
				</div>
				<a href="#partner-form" class="btn btn-outline" data-click="scroll-to-target" style="margin-top:50px;">Purchase Now</a>
			</div>
			<h1 class="downicon">
				<a href="#quote" data-click="scroll-to-target"><i class="icon-arrow-down"></i></a>
			</h1>
		</div>
		
		<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg">
				<img src="/qpos-partner-3.png" alt="Quote" />
			</div>
			<div class="container home-content">
				<h1>我们的优势</h1>
				<p>
					We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
					Use our <a href="#">theme panel</a> to select your favorite theme color.
				</p>
				<a href="#partner-form" class="btn btn-outline" data-click="scroll-to-target">Purchase Now</a>
			</div>
			<h1 class="downicon">
				<a href="#action-box" data-click="scroll-to-target"><i class="icon-arrow-down"></i></a>
			</h1>
		</div>
		
		<div id="action-box" class="content has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg">
				<img src="/qpos-partner-4.png" alt="Action" />
			</div>
			<div class="container home-content">
				<h1>我们需要的合作伙伴</h1>
				<p>
					We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
					Use our <a href="#">theme panel</a> to select your favorite theme color.
				</p>
				<a href="#partner-form" class="btn btn-outline" data-click="scroll-to-target">Purchase Now</a>
			</div>
			<h1 class="downicon">
				<a href="#client" data-click="scroll-to-target"><i class="icon-arrow-down"></i></a>
			</h1>
		</div>
		
		<div id="client" class="content has-bg bg-green" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg">
				<img src="/qpos-partner-5.png" alt="Client" />
			</div>
			<div class="container home-content">
				<h1>合作伙伴的收益</h1>
				<div class="work">
					<div class="image">
						<img src="Qpos-partner-2.png">
					</div>
				</div>
				<a href="#partner-form" class="btn btn-outline" data-click="scroll-to-target" style="margin-top:50px;">Purchase Now</a>
			</div>
			<h1 class="downicon">
				<a href="#market" data-click="scroll-to-target"><i class="icon-arrow-down"></i></a>
			</h1>
		</div>
		
		<div id="market" class="content has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg">
				<img src="/qpos-partner-6.png" alt="Action" />
			</div>
			<div class="container home-content">
				<h1>普尔支付市场支持</h1>
				<p>
					We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
					Use our <a href="#">theme panel</a> to select your favorite theme color.
				</p>
				<a href="#partner-form" class="btn btn-outline" data-click="scroll-to-target">Purchase Now</a>
			</div>
			<h1 class="downicon">
				<a href="#partner-form" data-click="scroll-to-target"><i class="icon-arrow-down"></i></a>
			</h1>
		</div>

		<div id="partner-form" class="content bg-silver-lighter" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2>立即申请成为钱方合作伙伴</h2>
				<form class="form-horizontal">
					<div class="row">
						<!-- begin col-6 -->
						<div class="col-md-6 fadeInLeft contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInLeft">
							<div class="form-group">
								<label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<input class="form-control" type="text">
								</div>
							</div>
						</div>
						<div class="col-md-6 form-col fadeInRight contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInRight">
							<div class="form-group">
								<label class="control-label col-md-3">Message <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<textarea class="form-control" rows="10"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3"></label>
								<div class="col-md-9 text-left">
									<button type="submit" class="btn btn-theme btn-block">Send Message</button>
								</div>
							</div>
						</div>
					<!-- end col-6 -->
				</div>
				<!-- end row -->
				</form>
			</div>
			<!-- end container -->
		</div>
		
		
		
	