<div id="home-sm" class="pages_partner content has-bg home">
	<!-- begin content-bg -->
	<div class="content-bg">
		<img src= "home-2.jpg"  alt="Home">
	</div>
	<!-- end content-bg -->
	<!-- begin container -->
	<div class="container home-content">
		<h1>普尔拍档火热召集</h1>
		<h3>邀您共享微营销商业蓝海</h3>
		<a href="#" class="btn btn-outline">立即申请》》</a>
	</div>
	<!-- end container -->
</div>


<div class="content">合作优势</div>
<div class="content">合作范围</div>
<div class="content">合作支持</div>
<div class="content">合作流程</div>
<div class="content">已有合作商</div>