<style type="text/css">
	.carousel-caption{
			top: 30%;
			left: 0;
			width: 50%;
		}
	hr{
		margin: 0 15%;
		border-color: #FFF;
		border-width:2px;
	}
	h1{
		margin: 0;
		padding: 0;
		font-size: 60px;
		line-height: 60px;
	}
</style>
<div id="carousel-example-generic" class="pages_press carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "/home-pos.png"  alt="Carousel 1">
			<div class="carousel-caption">
				<div class="row">
					<div class="col-md-5">
						<div class="work">
							<div class="image">
								<img src="/Qpos-sup-1.png">
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<h1>媒体资讯</h1>
						<hr></hr>
						<big style='font-size:24px;'>更多认可,更多安全,更多放心</big>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<p>首页》资讯》正文</p>
		</br>
		<p>jbjbl;klksadalkdnsfcasdjbvfsa</p>
	</div>
</div>