
<div id="carousel-example-generic" class="pages_press carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "press.jpg"  alt="Carousel 1">
		</div>
	</div>
</div>




<div id="press-news">
	<div class="content bg-blue" >
		<div class="row">
			<div class="col-md-4">
				<h1>产品资讯</h1>
			</div>
			<div class="col-md-8">
				<small>October 29, 2015</small>
				<p><a  href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
			</div>
		</div>
	</div>
	<div class="content  bg-aqua">
		<div class="row">
			<div class="col-md-4">
				<h1>公司资讯</h1>
			</div>
			<div class="col-md-8">
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
			</div>
		</div>
	</div>
	<div class="content  bg-green" >
		<div class="row">
			<div class="col-md-4">
				<h1>行业资讯</h1>
			</div>
			<div class="col-md-8">
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
				<small>October 29, 2015</small>
				<p><a href="#">Poynt Becomes Industry's First PCI PTS and EMV-Certified Smart Terminal Available to All</a></p>
			</div>
		</div>
	</div>
</div>
