<style type="text/css">
	.carousel-caption{
		top: 30%;
		left: 0;
		right: 45%;
	}
	hr{
		margin:0;
		border-color: #FFF;
		border-width:2px;
	}
	.carousel-caption h2{
		margin: 10px auto;
		padding: 0 auto;
		font-size: 60px;
		line-height: 60px;
	}
	.carousel-caption p{
		margin: 10px auto;
	}
	#press-date{
		text-align: center;
		border:1px solid #aeaeae;
	}
	.date-press a{
		color:red;
		border-radius:10px;
		border-color: red;
		border-width:1px;
	}
</style>


<div id="carousel-example-generic" class="pages_press carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "/home-pos.png"  alt="Carousel 1">
			<div class="carousel-caption">
				<div class="row">
					<div class="col-md-7 press-red">
						<div class="work">
							<div class="image">
								<img src="/Qpos-sup-1.png">
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xs-12" style="text-align:left;">
						<h2>媒体资讯</h2>
						<hr></hr>
						<p style='font-size:24px;'>更多认可,更多安全,更多放心</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container date-press">
		<div class="row">
			<div class="col-md-1">
				<div id="press-date">
					<h1>22</h1>
					<hr style="border-color: #aeaeae;"></hr>
					<span>2015.01</span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="work">
					<div class="image">
						<img src="Qpos-pre-1.png">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<a href="#">
					<h2>普尔支付：给小薇商户的移动POS机</h2>
				</a>
				<p>ugiabkisjbflkajsbkj</p>
				<a href="#" class="btn">>>查看详情</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<div id="press-date">
					<h1>22</h1>
					<hr style="border-color: #aeaeae;"></hr>
					<span>2015.01</span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="work">
					<div class="image">
						<img src="Qpos-pre-1.png">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<a href="#">
					<h2>普尔支付：给小薇商户的移动POS机</h2>
				</a>
				<p>ugiabkisjbflkajsbkj</p>
				<a href="#" class="btn">>>查看详情</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<div id="press-date">
					<h1>22</h1>
					<hr style="border-color: #aeaeae;"></hr>
					<span>2015.01</span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="work">
					<div class="image">
						<img src="Qpos-pre-1.png">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<a href="#">
					<h2>普尔支付：给小薇商户的移动POS机</h2>
				</a>
				<p>ugiabkisjbflkajsbkj</p>
				<a href="#" class="btn">>>查看详情</a>
			</div>
		</div>
	</div>
</div>