<style type="text/css">
	.carousel-caption{
		top: 30%;
		left: 0;
		right: 45%;
	}
	.carousel-caption hr{
		margin:0;
		border-color: #FFF;
		border-width:2px;
	}
	.carousel-caption h2{
		margin: 10px auto;
		padding: 0 auto;
		font-size: 60px;
		line-height: 60px;
	}
	.carousel-caption p{
		margin: 10px auto;
	}
	.nav-tabs{
		border:none;
	}
	.nav-tabs li{
		border:none;
		margin-bottom: -2px;
	}
	.nav-tabs li.active a{
		color: red !important;
	}
	.nav{
		text-align: center;
		font-size: 24px;
	}
</style>

<div id="carousel-example-generic" class="pages_safety_and_security carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "/home-pos.png"  alt="Carousel 1">
			<div class="carousel-caption">
				<div class="row">
					<div class="col-md-7 block-red">
						<div class="work">
							<div class="image">
								<img src="/Qpos-sup-1.png">
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xs-12" style="text-align:left;">
						<h2>安全保障</h2>
						<hr></hr>
						<p style='font-size:24px;'>更多认可,更多安全,更多放心</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "/safe-11.png" >
						</div>
					</div>
					<div class="col-md-8" style="text-align:left;">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
							</div>
						</div>
					</div>
				</div>
			<div id="safe-hr-top" class="col-md-2">
				<hr style="border:1px solid #AEAEAE;width:0px;height:120px;margin-top:0;"></hr> 
			</div>
			<div class="col-md-4">
				<div class="service service-vertical work row">
					<div class="col-md-4">
						<div class="imgage">
							<img src= "safe-12.png" >
						</div>
					</div>
					<div class="col-md-8" style="text-align:left;">
						<div class="info">
							<h3 class="title">线上收银台</h3>
							<p >全球首个支持3种通讯的密码刷卡器
								（音频、USB、蓝牙）全面支持磁条卡、芯片卡和NFC卡随时随地接受银行卡刷卡付款</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr style="border:1px solid #AEAEAE;margin:0;"></hr>

<div class="container">
	<ul id="nav-tabs" class="nav nav-tabs row">
	<div class="col-md-1"></div>
	<li class="active col-md-2"><a aria-expanded="false" href="#tab-1" data-toggle="tab">硬件</a></li>
	<li class="col-md-2"><a aria-expanded="false" href="#tab-2" data-toggle="tab">系统</a></li>
	<li class="col-md-2"><a aria-expanded="true" href="#tab-3" data-toggle="tab">信息</a></li>
	<li class="col-md-2"><a aria-expanded="true" href="#tab-4" data-toggle="tab">资金</a></li>
	<li class="col-md-2"><a aria-expanded="true" href="#tab-5" data-toggle="tab">法律</a></li>
</ul>
</div>

<hr style="border:1px solid #AEAEAE;margin:0;"></hr>

<div id="tab-content" class="tab-content">
	
	<div class="tab-pane fade active in" id="tab-1">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="work">
							<div class="image">
								<img src="/safe-13.png">
							</div>
						</div>
					</div>
					<div class="col-md-8 qpos-safe-feature">
						<h3>硬件保障</h3>
						<p>zhuanyexxxxxx</p>
						<div class="row qpos-row">
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-1.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-2.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-3.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-4.png">
								<p>拆机自毁</p>
							</div>
						</div>
						<hr style="border-color: #aeaeae;"><hr/>
						<p>asdakcnakcsnlansoclabc';laca scaskcn'as;clascack</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tab-pane fade" id="tab-2">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="work">
							<div class="image">
								<img src="/safe-13.png">
							</div>
						</div>
					</div>
					<div class="col-md-8 qpos-safe-feature">
						<h3>硬件保障</h3>
						<p>zhuanyexxxxxx</p>
						<div class="row qpos-row">
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-1.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-2.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-3.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/Qpos-3-4.png">
								<p>拆机自毁</p>
							</div>
						</div>
						<hr style="border-color: #aeaeae;"><hr/>
						<p>asdakcnakcsnlansoclabc';laca scaskcn'as;clascack</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tab-pane fade" id="tab-3">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="work">
							<div class="image">
								<img src="/safe-01.png">
							</div>
						</div>
					</div>
					<div class="col-md-8 qpos-safe-feature">
						<h3>信息保障</h3>
						<p>zhuanyexxxxxx</p>
						<div class="row qpos-row">
							<div class="col-md-3 col-sm-6">
								<img src="/safe-02.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/safe-03.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/safe-04.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/safe-05.png">
								<p>拆机自毁</p>
							</div>
						</div>
						<hr style="border-color: #aeaeae;"><hr/>
						<p>asdakcnakcsnlansoclabc';laca scaskcn'as;clascack</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tab-pane fade" id="tab-4">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="work">
							<div class="image">
								<img src="/safe-06.png">
							</div>
						</div>
					</div>
					<div class="col-md-8 qpos-safe-feature">
						<h3>信息保障</h3>
						<p>zhuanyexxxxxx</p>
						<div class="row qpos-row">
							<div class="col-md-3 col-sm-6">
								<img src="/safe-07.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/safe-08.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/safe-09.png">
								<p>拆机自毁</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<img src="/safe-10.png">
								<p>拆机自毁</p>
							</div>
						</div>
						<hr style="border-color: #aeaeae;"><hr/>
						<p>asdakcnakcsnlansoclabc';laca scaskcn'as;clascack</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="tab-5">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="work">
							<div class="image">
								<img src="/safe-14.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-8 qpos-safe-feature">
						<h3>法律保障</h3>
						<p>
							《非金融机构支付服务管理办法》
							《电子支付指引》
							《支付机构互联网支付业务风险防范指引》
							《支付清算组织管理办法》
							《支付机构互联网支付业务管理办法》
							《支付清算组织管理办法》
							专业律师事务所提供法律支持
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


