<style type="text/css">
	.carousel-caption{
		top: 30%;
		left: 0;
		width: 50%;
	}
	hr{
		margin: 0 50px;
		border-color: #FFF;
		border-width:2px;
	}
	h1{
		margin: 0;
		padding: 0;
		font-size: 60px;
		line-height: 60px;
	}
</style>


<div id="carousel-example-generic" class="pages_press carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "/home-pos.png"  alt="Carousel 1">
			<div class="carousel-caption">
				<div class="row">
					<div class="col-md-6">
						<div class="work">
							<div class="image">
								<img src="/Qpos-sup-1.png">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h1>技术支持</h1>
						<hr></hr>
						<big style='font-size:24px;'>我们随时为你提供帮助</big>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>常见问题</h2>
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
			</div>
			<div class="col-md-4">
				<h2>联系支持部门</h2>
				<h4>微信客服</h4>
				<div class="work">
					<div class="image">
						<img src="Qpos-sup-2.png">
					</div>
				</div>
				</br>
				<h4>电话支持</h4>
				<p>asdfsf</p>
				<p>asdfasf</p>
				</br>
				<h4>邮箱服务</h4>
				<p>asdfsf</p>
				<p>asdfasf</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
			</div>
		</div>
	</div>
</div>