<div id="home-sm" class="pages_support content has-bg home">
	<!-- begin content-bg -->
	<div class="content-bg">
		<img src="home-1.jpg"  alt="Home">
	</div>
	<!-- end content-bg -->
	<!-- begin container -->
	<div class="container home-content">
		<h1>欢迎使用 QPOS 支持</h1>
	</div>
	<!-- end container -->
</div>


<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="service">
	                            <div class="icon bg-theme bounceIn contentAnimated finishAnimated" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
	                            <div class="info">
	                                <h4 class="title">保修/序列号</h4>
	                                <p class="desc">输入序列号以查看产品的保修服务与支持期限。</p>
	                                <a href="#">提供序列号 > </a>
	                            </div>
	                        </div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service">
	                            <div class="icon bg-theme bounceIn contentAnimated finishAnimated" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
	                            <div class="info">
	                                <h4 class="title">QPOS 支持社区</h4>
	                                <p class="desc">查找解决方案并与全球 Apple 用户分享。</p>
	                                <a href="#">加入对话 > </a>
	                            </div>
	                        </div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service">
	                            <div class="icon bg-theme bounceIn contentAnimated finishAnimated" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
	                            <div class="info">
	                                <h4 class="title">QPOS服务</h4>
	                                <p class="desc">了解 QPOS 在中国的服务和保修政策</p>
	                                <a href="#">了解有关保修和服务选项的信息 > </a>
	                            </div>
	                        </div>
			</div>
		</div>
	</div>
</div>
<div class="content">FAQ</div>