<style type="text/css">
	.carousel-caption{
		top: 30%;
		left: 0;
		right: 45%;
	}
	hr{
		margin:0;
		border-color: #FFF;
		border-width:2px;
	}
	.carousel-caption h2{
		margin: 10px auto;
		padding: 0 auto;
		font-size: 60px;
		line-height: 60px;
	}
	.carousel-caption p{
		margin: 10px auto;
	}
</style>


<div id="carousel-example-generic" class="pages_support carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src= "/home-pos.png"  alt="Carousel 1">
			<div class="carousel-caption">
				<div class="row">
					<div class="col-md-7">
						<div class="work">
							<div class="image">
								<img src="/Qpos-sup-1.png">
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xs-12" style="text-align:left;">
						<h2>技术支持</h2>
						<hr></hr>
						<p style='font-size:24px;'>更多认可,更多安全,更多放心</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>常见问题</h2>
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
				<br></br>
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
				<br></br>
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
				<br></br>
				<h4>一丶用户账户</h4>
				<p>1.auidghghaibdaodoib</p>
				<p>2.auidghghaibdaodoib</p>
				<p>3.auidghghaibdaodoib</p>
				<p>4.auidghghaibdaodoib</p>
			</div>
			<div class="col-md-4">
				<h2>联系支持部门</h2>
				<h4>微信客服</h4>
				<div class="work">
					<div class="image">
						<img src="Qpos-sup-2.png">
					</div>
				</div>
				</br>
				<h4>电话支持</h4>
				<p>asdfsf</p>
				<p>asdfasf</p>
				</br>
				<h4>邮箱服务</h4>
				<p>asdfsf</p>
				<p>asdfasf</p>
			</div>
		</div>
	</div>
</div>