<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>
		<% if content_for(:title) %>
			<%= yield(:title) %>
		<% elsif @cms_page %>
			<%= @cms_page.label %>
		<% else %>
			pooulpay
		<% end %>
	</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="/color_front/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/color_front/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/color_front/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/color_front/assets/css/style.min.css" rel="stylesheet" />
	<link href="/color_front/assets/css/style-responsive.css" rel="stylesheet" />
	<link href="/color_front/assets/css/theme/red.css" id="theme" rel="stylesheet" />
	<link href="/color_front/assets/plugins/simple-line-icons.css" rel="stylesheet">
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="/color_front/common.css" id="theme" rel="stylesheet" />


	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/color_front/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #header -->
	
	
	<%= yield %>

	
	<!-- end #footer -->
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/color_front/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="/color_front/jquery.mobile-1.4.5.min.js"></script>
	<script src="/color_front/common.js" ></script>
	<script src="/color_front/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/color_front/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- [if lt IE 9]
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
        [endif] -->
        <script src="/color_front/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
        <script src="/color_front/assets/plugins/scrollMonitor/scrollMonitor.js"></script>
        <script src="/color_front/assets/js/apps.min.js"></script>
        <!-- ================== END BASE JS ================== -->

        <script>    
        	$(document).ready(function() {
        		common();
        		App.init();
        	});
        </script>
       </body>
       </html>

